
##################################################
# Configuration file for Fine TopoTower Analysis #
##################################################

# -- job configuration
Analysis::Config::Job::printDebug         = true
Analysis::Config::Job::msgsDebug          = 20
Analysis::Config::Job::tickerFreq         = 500
Analysis::Config::Input::collection       = TopoTowerFine 
Analysis::Config::Input::nEvents          = 500
Analysis::Config::Job::doSlidingWindowRho = true
Analysis::Config::Input::dataDir          = /export/share/data2/lochp/CaloSignals/Student/data
Analysis::Config::Input::fileMask         = %s/vbf2600_tower_tuple_%03i.root
Analysis::Config::Output::dataDir         = .
Analysis::Config::Output::file            = vbf2600_topoclus_rapgap_2.0.root

# -- event selection
Analysis::Select::Event::rapGap           = 2.
Analysis::Select::Event::minMinv          = 1000000.0 # [MeV]
Analysis::Select::Event::maxMinv          = 4500000.0 # [MeV]

# -- object selection
Analysis::Select::TruthJet::isoDeltaR   = 0.0     # no (self) isolation criteria for truth jets
Analysis::Select::RecoJet::isoDeltaR    = 0.0     # no (self) isolation criteria for reco jets
Analysis::Select::MatchedJet::isoDeltaR = 0.0     # no (self) isolation criteria for matched reco jets
Analysis::Select::MatchedJet::matchR    = 0.4     # matching radius truth-reco jet
